# SQLite database files
*.sqlite
*.sqlite3
*.db

# Node.js dependencies
node_modules/

# Environment variables
.env

# macOS system files
.DS_Store

# Editor files
.vscode/

# Server dependency files
package-lock.json

# stryker temp files
.stryker-tmp

# Log file
requests.log

# Markdown files
.md

# Sessions
sessions.db-shm
sessions.db-wal