<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to Paw Patrol!</title>
    <link rel="stylesheet" href="/css/default_stylesheet.css">
</head>

<body>
    <div class="container">
        <img id="logo" src="/images/logo.png" alt="Paw Patrol Logo" class="logo">
        <h1>Welcome!</h1>
        <div class="button-container">
            <button id="login-button">Login</button>
            <button id="signup-button">Sign-Up</button>
        </div>

        <div class="button-container">
            <a href="job-search" class="button" id="search-button">Search for Jobs</a>
        </div>

        <div class="button-container">
            <a href="/review-test" class="button" id="review-button">Leave a Review</a>
            <a href="/leaderboard-test" class="button" id="leaderboard-button">Leaderboard</a>
    </div>
</body>

</html>